ol,ul {
	list-style: none;
    display: inline-block;
}

#mainMenu {
    display:flex;
    height: 200px;
    width: 1362px;
    background: linear-gradient(0deg, rgba(50, 172, 123, 0.233) 30%,rgba(42, 209, 117, 0.753) 100%);
    border-bottom: solid 3px #52ffbd;
    margin-top: 120px;
    margin-left: -10px;
}

#mainMenu li {

    display:flex;
    color: rgba(255, 255, 255, 0.938);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:lighter;
    margin-top: 80px;
    height: 10px;
    width: 200px;
    margin-left: 190px;

}

#mainMenu a {
	display:inline-block;
    margin-top: 100px;
	text-decoration:none;
	color:darkgreen;
}

#mainMenu a:hover {
    display:inline-block;
	height:20px;
    width:max-content;
    text-align: center;
	background: linear-gradient(0deg, rgba(192, 255, 230, 0.984) 50%,rgba(134, 235, 180, 0.947) 50%);
}

.Social
{
    margin-top: -18px;
    background-color:rgba(106, 254, 183, 0.751); 
    height: px;
    width: 1px;
    opacity: 75%;
    border-radius: 1%;
    display:flex;
    margin-right: 160px;
}

.Cromatherapy
{
    color: rgba(127, 254, 193, 0.842);
    height:5px;
    width: 10px;
    margin-left: 450px;
    margin-top: -15px;
    font-size: 40px;
    margin-bottom: -164px;
    font-style:normal;
    text-shadow: 0 0 0.2em rgb(40, 169, 20), 0 0 0.2em rgb(119, 255, 142);
    text-shadow: 0 0 0.2em rgba(58, 190, 168, 0.826), 0 0 0.2em rgb(31, 109, 20),0 0 0.2em rgba(26, 255, 148, 0.799);
    margin-left: -8px;
    background: linear-gradient(0deg, rgba(192, 255, 230, 0.984) 50%,rgba(134, 235, 180, 0.947) 50%);
    height: 100px;
    width: 1400px;
    text-align:center;
    background-position: 100%;
}

.Logo
{
    margin-top: -16;
    margin-left: -15;
    opacity: 20%;  
    position: relative;
    display: inline-block;  
}

.Texto_Principal
{
    position: absolute;
    text-align:center;
    margin-left: 25px;
    margin-top: 143px;
    font-size: 20px;
    font-weight: 10px;
    font-family:cursive;
    text-decoration:solid;
    background:  #edfaf4;
}

.Contato
{
    margin-top: 95px;
    margin-right: -30px;
    font-size: 18px;
}
